body, div {
	padding: 0;
	margin: 0;
}
html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #583851;
}

.board-box {
	flex: 0 0 300px;
	width: 300px;
	align-items: center;
	justify-content: center;
	position: relative;
}
.board {
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #583851;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
	grid-column-gap: 8px;
	grid-row-gap: 8px;
	border-bottom: 2px solid white; /* workaround for a chrome bug */
	border-right: 2px solid white; /* workaround for a chrome bug */
}
.cell {
	background: white;
	position: relative;
}
.cell.X::before {
	content: "✗";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	margin-top: 6px;
	font-size: 70px;
}
.cell.O::before {
	content: "⭘";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	margin-top: 2px;
	font-size: 68px;
}
.cell.empty {
	cursor: pointer;
}
.game-outcome {
	position: absolute;
	top: 50px;
	font-size: 80px;
	color: white;
	opacity: .7;
	background: #583851;
	text-align: center;
}
#footer {
	position: fixed;
	text-align: center;
	font-family: sans-serif;
	line-height: 20px;
	opacity: 0;
}
#footer.visible {
	opacity: 1;
	transition: all 2s;
}

#footer {
	right: 10px;
	bottom: -20px;
	left: 10px;
	margin-bottom: 20px;
}
#footer.visible {
	bottom: 15px;
}

@media (orientation: landscape) and (max-height:500px) {
	#footer {
		top: 5;
		right: -2px;
		bottom: 5px;
		left: initial;
		margin-bottom: 20px;
		width: 0px;
		padding-right: 0;
	}
	#footer.visible {
		width: 190px;
		padding-right: 4px;
		bottom: initial;
	}
}

.board-panel {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	display: flex;
	height: 50px;
	align-items: center;
	justify-content: center;
}

.button {
	cursor: pointer;
	border-radius: 6px;
	border: 3px solid #583851;
	color: #583851;
	padding: 5px 10px;
	font-size: 18px;
	font-family: sans-serif;
}
.button:hover {
	background: #8b758733;
}
